# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS generated
.DS_Store

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Build outputs
dist/
build/
